.modal {
  padding: 2rem;
  width: 800px;
  background-color: #fff;
  border-radius: 19px;
  box-shadow: #eee 0 0 5px 5px;
  margin: 0 auto;
}

.btn {
  width: 100px;
  height: 32px;
  color: #fff;
  background-color: gray;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:hover {
    background: darken($color: gray, $amount: 10%);
  }
}
